<% if product = Product.find_by(id: line_item.product_id) %>
<tr>
  <td>
    <%= image_tag product.image.tiny, alt: product.name %>
  </td>
  <td>
    <%= product.name %>
  </td>
  <td>
    <%= product.description %>
  </td>
  <td>
    <%= line_item.quantity %>
  </td>
  <td>
    <%= line_item.item_price_cents %>
  </td>
  <td>
    <%= line_item.total_price_cents %>
  </td>
</tr>
<% end %>
